@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;


.worksGenre {
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  font-family: var(--font-passion-one), sans-serif;
  font-size: 4rem;
  font-weight: 400;
  gap: 20px;
  line-height: 1;

  @include min-width($mobile) {
    font-size: clamp(40px, to-vw(60, 1280), 60px);
    margin-bottom: clamp(20px, to-vw(30, 1280), 30px);
  }


}

.workList {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(1, 1fr);
  margin-top: 40px;

  @include min-width($desktop) {
    gap: 25px;
    grid-template-columns: repeat(2, 1fr);
  }

  li {
    @include BoxRadius;
    @include hoverLink;

    background-color: #fff;
    border: 1px solid #fff;
    overflow: hidden;

    img {
      height: auto;
      width: 100%;
    }

    p {
      border-top: 1px solid #000;
      color: $textblack;
      font-family: var(--font-noto), sans-serif;
      font-size: 1.8rem;
      font-weight: 700;
      padding: 10px;

      @include min-width($mobile) {
        font-size: clamp(18px, to-vw(30, 1280), 30px);
      }

      @include min-width($desktop) {
        font-size: min(to-vw(30), 30px);
        padding: 10px min(to-vw(20), 20px);
      }
    }
  }
}