@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.skillsContainer {
  padding-top: 0;

  @include min-width($mobile) {
    padding-top: clamp(20px, to-vw(30, 1280), 30px);
  }

  .skillsText {
    color: #fff;
    font-family: var(--font-noto), sans-serif;
    font-size: 1.6rem;
    margin-top: 20px;

    @include min-width($mobile) {
      font-size: clamp(16px, to-vw(20, 1280), 20px);
      padding: 0;
    }

    span {
      display: inline-block;
    }
  }
}

.skillsGroup {
  margin-top: 20px;

  +.skillsGroup {
    margin-top: 40px;

    @include min-width($mobile) {
      margin-top: clamp(40px, to-vw(80, 1280), 80px);
    }
  }
}

.groupTitle {
  color: #fff;
  font-family: var(--font-passion-one), sans-serif;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1;

  @include min-width($mobile) {
    font-size: clamp(40px, to-vw(60, 1280), 60px);

  }
}

.skillList {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(1, 1fr);
  margin-top: 10px;

  @include min-width($mobile) {
    grid-template-columns: repeat(1, 1fr);
  }

  @include min-width($tablet) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include min-width($desktop) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.skillItem {
  background-color: #fff;
  padding: 20px 0;

  @include BoxRadius;

  .itemImage {
    height: auto;
    margin: 0 auto;
    width: 100px;

    @include min-width($tablet) {
      width: clamp(100px, to-vw(150, 1280), 150px);
    }
  }

  .itemTextBox {
    border-top: 1px solid #000;
    color: $textblack;
    margin-top: 20px;
    padding: 20px 20px 0;
  }

  .itemTitle {
    font-size: 1.6rem;
    font-weight: 700;

    @include min-width($mobile) {
      font-size: clamp(16px, to-vw(20, 1280), 20px);
    }
  }

  .itemText {
    font-size: 1.6rem;

    @include min-width($mobile) {
      font-size: clamp(16px, to-vw(20, 1280), 20px);
    }
  }
}